:root {
  --plain-font-family: "Cormorant Garamond", serif;
  --brand-font-family: "Nunito", serif;
  --on-surface-color: rgb(66, 63, 50);
  --on-surface-color-variant: rgb(66, 63, 50);
  --surface-color: white;
  --surface-container-low-color: rgb(185, 203, 194);
  --background-color: rgb(208, 222, 215);
}

html {
  font-size: 12pt;
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: var(--background-color);
  background-size: cover;
  background-image: url(./background.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  padding: 25px;
  box-sizing: border-box;
}

main {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 40px;
}

nav.main-nav {
  background-color: var(--surface-container-low-color);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
  padding: 50px 25px;
  flex: 1;
  height: fit-content;
  font-size: inherit;
  border-radius: 2px;
}

.social-media-links-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.social-media-link {
    text-decoration: none;
    color: var(--on-surface-color-variant);
    width: 48px;
    height: 48px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.social-media-link .icon-box {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.social-media-link:hover .icon-box {
    background-color: color(from var(--on-surface-color-variant) srgb r g b / 0.08);
}

.social-media-link:focus .icon-box,
.social-media-link:active .icon-box {
    background-color: color(from var(--on-surface-color-variant) srgb r g b / 0.1);
}


.main-nav-header {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 600;
  text-align: center;
  font-family: var(--plain-font-family);
  color: var(--on-surface-color);
}

nav.main-nav a,
.coming-soon-link {
  font-size: 1.2rem;
  font-family: var(--plain-font-family);
  color: var(--on-surface-color);
  background-color: var(--surface-color);
  border: 1px solid var(--on-surface-color);
  padding: 12px 25px;
  text-align: center;
  text-transform: capitalize;
  border-radius: 2px;
}

.nav.main-nav a {
    text-decoration: underline;
}

.coming-soon-link  {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    opacity: 0.7;
}

.coming-soon-badge {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--on-surface-color);
    border-radius: 3px;
    padding: 5px;
    font-size: 0.6rem;
    font-weight: 600;
}

.logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  flex: 1;
}

.logo-box .logo {
  width: 187px;
  height: 187px;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 25px;
  background-color: var(--surface-color);
}

.logo-box .logo img {
  width: 100%;
  height: 100%;
  aspect-ratio:  1 / 1;
}

.logo-box .main-description {
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0;
  text-align: center;
  letter-spacing: 0.378em;
  font-family: var(--brand-font-family);
  color: var(--on-surface-color);
}

@media (max-aspect-ratio: 1/1) {
  /* vertical */
  .logo-box {
    width: 100%;
    flex: unset;
  }

  .logo-box .logo {
    max-width: 200px;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  nav.main-nav {
    flex: unset;
  }
}

@media (min-aspect-ratio: 1/1) {
  /* horizontal */
  main {
    flex-direction: row;
    align-items: center;
  }

  nav.main-nav {
    min-height: 0;
  }

  .logo-box {
    height: 100%;
  }
}

@media (aspect-ratio: 1/1) {
  /* vertical */
  .logo-box {
    width: 100%;
    flex: unset;
  }

  .logo-box .logo {
    max-width: 20px;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  nav.main-nav {
    flex: unset;
  }
}

@media only screen and (max-device-width: 1366px) {
    body {
        background-attachment: fixed;
    }
  }
