:root {
  --plain-font-family: "Cormorant Garamond", serif;
  --plain-font-size: 12px;
  --plain-font-style: normal;
  --plain-font-variation-settings: "wdth" 100;

  --brand-font-family: "Nunito", serif;
  --brand-font-size: 12px;
  --brand-font-style: normal;
  --brand-font-variation-settings: "wdth" 100;

  --on-surface-color: rgb(66, 63, 50);
  --surface-color: white;
  --surface-container-low-color: rgb(185, 203, 194);
  --background-color: rgb(208, 222, 215);
}

html {
  font-size: 18px;
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: var(--background-color);
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  bottom: 0;
  background-size: cover;
  background-image: url(./background.png);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
  transform-origin: center center;
  transform: rotate(-180deg);
  opacity: 0.12;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 25px;
  padding: 80px 25px;
  box-sizing: border-box;
  overflow: auto;
  min-width: 0;
  min-height: 0;
}

nav.main-nav {
  background-color: var(--surface-container-low-color);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 30px;
  padding: 80px 25px 50px 25px;
  flex: 1;
  height: fit-content;
}

.main-nav-header {
  font-size: 2rem;
  margin: 0;
  font-weight: 600;
  text-align: center;
  font-family: var(--plain-font-family);
  font-style: var(--plain-font-style);
  font-variation-settings: var(--plain-font-variation-settings);
  color: var(--on-surface-color);
}

nav.main-nav a {
  font-size: 1.5rem;
  font-family: var(--plain-font-family);
  font-style: var(--plain-font-style);
  font-variation-settings: var(--plain-font-variation-settings);
  color: var(--on-surface-color);
  background-color: var(--surface-color);
  border: 1px solid var(--on-surface-color);
  padding: 12px 25px;
  text-align: center;
  text-transform: capitalize;
}

.logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  flex: 1;
}

.logo-box .logo {
  width: 187px;
  height: 187px;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 25px;
  background-color: var(--surface-color);
}

.logo-box .logo img {
  width: 100%;
  height: 100%;
}

.logo-box .main-description {
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0;
  text-align: center;
  letter-spacing: 0.378em;
  font-family: var(--brand-font-family);
  font-style: var(--brand-font-style);
  font-variation-settings: var(--brand-font-variation-settings);
  color: var(--on-surface-color);
}

@media (max-aspect-ratio: 1/1) {
  /* vertical */
  .logo-box {
    width: 100%;
    flex: unset;
  }

  .logo-box .logo {
    max-width: 250px;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  nav.main-nav {
    flex: unset;
  }
}

@media (min-aspect-ratio: 1/1) {
  /* horizontal */
  html {
    font-size: 13px;
  }

  main {
    flex-direction: row;
    align-items: flex-start;
  }

  .logo-box {
    height: 100%;
  }
}

@media (aspect-ratio: 1/1) {
  /* vertical */
  .logo-box {
    width: 100%;
    flex: unset;
  }

  .logo-box .logo {
    max-width: 250px;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
  }

  nav.main-nav {
    flex: unset;
  }
}
